.neon {
    position: absolute; 
}
.neonEsquerda {
    position: absolute;
    margin-left: -40px;
    margin-top: 180px;
}
.neonDireita {
    position: absolute;
    margin-left: 490px;
    margin-top: -32px;
}
